* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

body:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background.jpg");
  opacity: 0.7;
  z-index: -1;
}

.App {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 480px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 4px #555;
          box-shadow: 2px 2px 4px #555;
  margin: auto;
}

@media (max-width: 540px) {
  .App {
    width: 100%;
  }
}

.App .trophy {
  position: absolute;
  top: 10px;
  left: 10px;
}

.App .trophy img {
  position: relative;
  width: 48px;
  border: 1px solid black;
  border-radius: 50%;
  background: #f2f2f2;
  z-index: 2;
}

.App .trophy .level {
  position: absolute;
  bottom: -7px;
  right: 2px;
  z-index: 2;
  background: deepskyblue;
  text-shadow: 1px 2px 3px black;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 20px;
  padding: 2px 2px;
}

.App .trophy .bar {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 1;
  width: 80px;
  height: 12px;
  background: #9a9a9a;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.App .trophy .bar .progress {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  background: linear-gradient(45deg, blue, #33ccff);
}

.App .language-switch {
  position: absolute;
  top: 10px;
  right: 65px;
}

.App .language-switch img {
  display: block;
  width: 50px;
  margin-bottom: 10px;
  border: 1px solid grey;
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .language-switch img.active {
  border: 1px solid green;
}

.App .language-switch img.not-active {
  cursor: pointer;
  border: 1px solid red;
  opacity: 0.7;
}

.App .Sounds {
  position: absolute;
  top: 15px;
  right: 15px;
}

.App .Sounds .sound-on,
.App .Sounds .sound-off {
  cursor: pointer;
  width: 40px;
}

.App .Sounds .sound-on {
  -webkit-animation: showSoundOn 1s;
          animation: showSoundOn 1s;
}

@-webkit-keyframes showSoundOn {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showSoundOn {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.App .Sounds .sound-off {
  -webkit-animation: showSoundOff 1s;
          animation: showSoundOff 1s;
}

@-webkit-keyframes showSoundOff {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showSoundOff {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.App .listen {
  cursor: pointer;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#ff9999));
  background: linear-gradient(red, #ff9999);
  -webkit-box-shadow: 1px 1px 5px #777;
          box-shadow: 1px 1px 5px #777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .listen:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.App .listen.animate {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  cursor: auto;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.App .tip {
  margin: 20px 0;
  color: #777;
  font-style: italic;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .tip.animate {
  opacity: 0;
}

.App .boxes {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .boxes .box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #333;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 4px #333;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.App .boxes .box.active:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  display: block;
  border-radius: 50%;
  background: radial-gradient(#64e764, green);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-animation: flash 0.4s;
          animation: flash 0.4s;
}

@-webkit-keyframes flash {
  from {
    top: -75%;
    left: -75%;
  }
  to {
    top: 50%;
    left: 50%;
  }
}

@keyframes flash {
  from {
    top: -75%;
    left: -75%;
  }
  to {
    top: 50%;
    left: 50%;
  }
}

.App .input {
  margin-top: 20px;
  cursor: pointer;
  background: #f9f9f9;
  -webkit-box-shadow: 1px 1px 5px #333;
          box-shadow: 1px 1px 5px #333;
  border-bottom: 1px solid #333;
  padding: 8px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .input:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 5px 1px #111;
          box-shadow: 1px 1px 5px 1px #111;
  border-color: deepskyblue;
}
