@import "reset";
@import "responsive";

body {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg");
    opacity: 0.7;
    z-index: -1;
  }
}

.App {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;

  width: 480px;
  padding: 20px;
  box-shadow: 2px 2px 4px #555;
  margin: auto;

  @include responsive(540px) {
    width: 100%;
  }
  .trophy {
    position: absolute;
    top: 10px;
    left: 10px;
    img {
      position: relative;
      width: 48px;
      border: 1px solid black;
      border-radius: 50%;
      background: darken(white, 5%);
      z-index: 2;
    }
    .bar {
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translate(0%, -50%);
      z-index: 1;

      width: 80px;
      height: 12px;
      background: lighten(grey, 10%);
      border: 1px solid black;
      box-shadow: 1px 1px 2px 3px rgba(black, 0.5);
      border-radius: 10px;
      .progress {
        height: 100%;
        background: linear-gradient(45deg, blue, lighten(deepskyblue, 10%));
      }
    }
  }
  .listen {
    cursor: pointer;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: linear-gradient(red, lighten(red, 30%));
    box-shadow: 1px 1px 5px #777;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    &.animate {
      transition: 1s;
      transform: scale(0.85);
      filter: brightness(85%);
    }
  }
  .tip {
    margin: 20px 0;
    color: #777;
    font-style: italic;
    transition: 0.3s;
    &.animate {
      opacity: 0;
    }
  }
  .boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    .box {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #333;
      border: 1px solid black;
      border-radius: 4px;
      user-select: none;

      text-align: center;
      font-size: 32px;
      font-weight: bold;
      color: white;
      text-shadow: 1px 2px 4px #333;

      z-index: 1;

      position: relative;
      overflow: hidden;
      &.active {
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 200%;
          height: 200%;
          display: block;
          border-radius: 50%;
          background: radial-gradient(darken(lightgreen, 10%), green);
          transform: translate(-50%, -50%);
          z-index: -1;
          animation: flash 0.4s;
          @keyframes flash {
            from {
              top: -75%;
              left: -75%;
            }
            to {
              top: 50%;
              left: 50%;
            }
          }
        }
      }
    }
  }
  .input {
    margin-top: 20px;
    cursor: pointer;
    background: lighten(lightgray, 15%);
    box-shadow: 1px 1px 5px #333;
    border-bottom: 1px solid #333;
    padding: 8px 20px;
    transition: 0.3s;
    &:focus {
      outline: none;
      box-shadow: 1px 1px 5px 1px #111;
      border-color: deepskyblue;
    }
  }
}
