* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

body:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background.jpg");
  opacity: 0.7;
  z-index: -1;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 480px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 4px #555;
          box-shadow: 2px 2px 4px #555;
  margin: auto;
}

@media (max-width: 540px) {
  .App {
    width: 100%;
  }
}

.App .listen {
  cursor: pointer;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(#ff9999));
  background: linear-gradient(red, #ff9999);
  -webkit-box-shadow: 1px 1px 5px #777;
          box-shadow: 1px 1px 5px #777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .listen:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.App .tip {
  margin: 20px 0;
  color: #777;
  font-style: italic;
}

.App .boxes {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .boxes .box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #333;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.App .input {
  margin-top: 20px;
  cursor: pointer;
  background: #f9f9f9;
  -webkit-box-shadow: 1px 1px 5px #333;
          box-shadow: 1px 1px 5px #333;
  border-bottom: 1px solid #333;
  padding: 8px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .input:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 5px 1px #111;
          box-shadow: 1px 1px 5px 1px #111;
  border-color: deepskyblue;
}
